* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: "Courier New", Courier, monospace;
}

.amazing-nav {
	display: flex;
	flex-direction: row;
	padding: 0 10rem;
	background-color: rgb(72, 188, 255);
	color: white;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}

@media screen and (max-width: 870px) {
	.amazing-nav {
		padding: 0 4rem;
	}
}

.nav-brand {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: rgb(72, 188, 255);
	color: white;
}

.logo {
	font-size: 23px;
	text-decoration: none;
	color: white;
	cursor: default;
	font-weight: bold;
    display: flex;
    align-items: center;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: -webkit-fill-available;
}

.menu-item {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: rgb(72, 188, 255);
	transition: all ease-in-out 0.3s;
	text-decoration: none;
	color: white;
	cursor: pointer;
}

.menu-item:hover {
	box-shadow: 0 -20px 0px 0 rgba(0, 0, 0, 0.322);
	transform: translateY(10px);
	background-color: rgb(72, 145, 255);
}

.nav-toggle {
    display: none;
    align-items: center;
	color: white;
    margin-left: auto;
}

#nav-toggle-btn {
    width: 20px;
    height: 3px;
    background-color: white;
    position: relative;
    transition: background 0.2s ease-out;
}

#nav-toggle-btn::before{
    content: '';
    position: absolute;
    top: 6px;
    width: 20px;
    height: 3px;
    background-color: white;
    transition: all 0.2s ease-out;
}

#nav-toggle-btn::after{
    content: '';
    position: absolute;
    bottom: 6px;
    width: 20px;
    height: 3px;
    background-color: white;
    transition: all 0.2s ease-out;
}

.toggler-label {
    padding: 1.125rem 0.625rem;
}

.amazing-nav .menu-btn {
	display: none;
}
.amazing-nav .menu-btn:checked ~ .menu {
	display: flex;
}
.amazing-nav .menu-btn:checked ~ .nav-brand .nav-toggle .toggler-label #nav-toggle-btn {
	background: transparent;
}
.amazing-nav .menu-btn:checked ~ .nav-brand .nav-toggle .toggler-label #nav-toggle-btn::before {
	transform: rotate(-45deg);
	top: 0;
}
.amazing-nav .menu-btn:checked ~ .nav-brand .nav-toggle .toggler-label #nav-toggle-btn::after {
	transform: rotate(45deg);
	bottom: 0;
}

@media screen and (max-width: 650px) {
	.logo {
		font-size: 30px;
	}
	.amazing-nav {
		flex-direction: column;
		padding: 0;
	}
	.menu {
		display: none;
		justify-content: center;
		flex-direction: column;
	}
	.menu-item:hover {
		box-shadow: -20px 0px 0px 0 rgba(0, 0, 0, 0.322);
		transform: translateX(10px);
		background-color: rgb(72, 145, 255);
	}
    .nav-toggle {
        display: flex;
    }
}
